@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PressStart2P;
  src: url(./assests/PressStart2P-Regular.ttf);
}

@layer base {
  body {
    @apply font-[PressStart2P];
  }
  li {
    @apply px-4;
    @apply cursor-pointer
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    #c31432,
    #240b36
  )!important;
}

